.chat-frame-messages {
  padding: 15px;
  height: 467px;
  border-radius: 3px;
  overflow-y: auto;
  background-color: #fff;

  &-item {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #d7d2d2d9;
    border-radius: 10px;
    width: 80%;

    @media only screen and (min-width: 768px)  and (max-width: 992px) {
      & {
        width: 60%;
      }
    }

    @media only screen and (min-width: 993px) {
      & {
        width: 40%;
      }
    }

    &-own {
      background-color: #e0f3f6;
      align-self: flex-end;
    }
  }
}