.fixed-button {
  position: fixed;
  z-index: 2;
  bottom: 3%;
  left: 1%;
  color: #00000073;
  cursor: pointer;

  & button {
    height: 45px;
    width: 45px;
  }

  & i {
    font-size: 23px;
  }
}