.fixed-button {
  position: fixed;
  z-index: 2;
  bottom: 2%;
  left: 3%;
  color: #00000073;
  cursor: pointer;

  & button {
    height: 35px;
    width: 35px;
  }

  & i {
    font-size: 20px;
  }
}