.map-alert.ant-alert-warning {
  background-color: hsla(50, 100%, 80%, 0.8);
  margin: 5px;
  position: relative;
  top: 30px;
  width: 50%;
}
.map-alert.ant-alert-info {
  background-color: hsla(200, 100%, 80%, 0.8);
  margin: 5px;
  position: relative;
  top: 30px;
  width: 50%;
}
.map-alert.ant-alert-error {
  background-color: hsla(0, 100%, 80%, 0.8);
  margin: 5px;
  position: relative;
  top: 30px;
  width: 50%;
}
